:root {
  --primary: #12ab5b;
  --secondary: #323434;
}

.container {
 color:var(--primary)
}

.inspection {
  display: inline-block;
  padding: .25rem;
  background-color: #dedede;
  margin: .25rem;
}

label {
  color:var(--secondary);
  font-weight: 700;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}

table, th, tr {
  border: 1px solid var(--secondary)
}


.vehicles{
  border: 1px solid var(--secondary);
  margin-top: 10px;
}